*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.clearfix:after{
    content: '';
    display:table;
    clear: both;
}

/* || HEADER || */
header{
    background-color: #255EE9;
}

/* || NAV BAR ||*/ 
.top-nav {
    text-align: center;
    text-transform: capitalize;
    width: 80%;
    margin: 0 auto;
    padding: 3% 0;
    
}

.logo {
    float: left;
}
#logIn {
    float: right;
}

#logIn a{
    color: black;
}
/* || LISTA ||*/
.top-nav ul {
    list-style: none;
    float: left;
    width: 80%;
}

.top-nav li {
    display: inline-block;
    padding: 0 2%;
}

/* JUMBOTRON */
.jumbotron{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    min-height: 546px;
    
}

.jumbo-container {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    color: white;
}

h1 {
    font-size: 6vh;
    padding: 6% 0;
}

p {
    font-size: 2vh;
    margin-bottom: 4%;
}


.jumbo-container a {
    margin: 2%;
    font-size: 2vh;
}




/* || BUTTON GENERAL || */

.btnSmall {
    background-color: white;
    padding: 10px 15px;
    border-radius: 40px;
}

.btnLarge {
    background-color: white;
    padding: 15px 30px;
    border-radius: 40px;
}

/* || LINK GENERAL || */

a {
    text-decoration: none;
    color: white;
}

/* || BACKGROUND COLORS || */

.bgColor-black {
    background-color: #0E0E0E;
}

/* || TEXT COLORS || */

.textColor-Black {
    color: #0E0E0E;
}