*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


header{
    background-color: rgb(52, 52, 218);
}

.top-nav {
    text-align: center;
}

ul {
    list-style: none;
}

.top-nav li {
    display: inline-block;
    text-align: center;
}

.top-nav li a {
    color: white;
    text-decoration: none;
    text-align: center;
}

.top-nav li img {
    float: right;
}